$font-stack: Poppins, sans-serif;
$primary-color: white;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: $primary-color;
}

// navbar
.black-box-icon {
  background-color: black;
  padding: 9px 14px;
  .apple {
    color: white;
  }
}

// product body
.right-side-icons {
  list-style-type: none;
  z-index: 999;
}

.container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  li {
    margin: auto;
  }
}

.product-body {
  background: linear-gradient(to right, rgb(242, 242, 242), white);
}

@media (max-width: 768px) {
  .product-image {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .container ul {
    flex-direction: row;
  }
  .container ul li {
    margin: 10px;
  }
}

@media (min-width: 1000px) {
  .content-wrapper {
    position: relative;
  }

  .product-body {
    max-height: 500px;
  }

  .product-image {
    position: absolute;
    top: 0;
    right: 10px;
  }

  .right-side-icons {
    justify-content: flex-end;
  }
}

// navbar
.notify-button {
  background-color: rgb(90, 200, 250);
  color: white;
}

.notify-button:hover {
  color: white;
}

.slider {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
}

.image {
  width: 200px;
  border-radius: 10px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
