.intro-nav {
  background-color: black;
}
.apple {
  color: white;
}

.apple-container {
  position: relative;
  height: 400px;
  width: 90%;
  margin: 5px auto;
  background: linear-gradient(to bottom, rgba(151, 193, 233, 0.842), white);
  text-align: center;
}

.big-logo {
  color: white;
  position: absolute;
  top: 20%;
  transform: translateX(-45%);
}

.message {
  z-index: 100;
  position: absolute;
  top: 170px;
  left: 325px;
  left: 500px;
}

.date {
  position: absolute;
  top: 450px;
  left: 600px;
}
