.intro-nav {
  background-color: black;
}
.apple {
  color: white;
}

.apple-container {
  text-align: center;
  height: 400px;
  width: 90%;
  margin: 5px auto;
  background: linear-gradient(to bottom, #a1dffc, white);
}

.logo {
  margin: 0 auto;
  background-size: cover;
  width: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo:before {
  content: "\F8FF";
  font-style: normal;
  font-weight: normal;
  font-size: 300px;
  color: white;
}

.message {
  margin: 0;
  text-align: center;
  width: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -51px;
}

.date {
  position: absolute;
  top: 450px;
  left: 600px;
}
